body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.main{
    flex: 4;
}
header{
    background-color: khaki;
    padding: 10px;
    box-sizing: border-box;
    height: 10vh;
}
.isi{
    display: flex;
    flex: 1;
    height: 80vh;
}
article {
    background-color: white;
    flex: 4;
    padding: 10px;
}
aside{
    background-color: pink;
    flex: 1;
    padding: 10px;
}
nav{
    background-color: aquamarine;
    flex: 1;
    padding: 10px;
}
footer{
    background-color: khaki;
    padding: 10px;
    height: 10vh;
    box-sizing: border-box;

}